*{
    margin:0;
    padding:0;
    box-sizing: border-box;     
}
@font-face{
    font-family: "OpenSans-Medium";
    src: url(/Css/static/OpenSans-Medium.ttf);
    font-size: normal;
    font-style: normal;
  
  }

body ,html{
height: 100%;
max-width: 99%;
font-family: "OpenSans-Medium";
 position:relative;
   
}
body{
    
    /* height: 100%;
   max-width: 99%; */
    background: linear-gradient(to left,rgba(225, 196, 255, 0.363) 0%,rgba(99, 66, 133, 0.493) 50%,rgba(225, 196, 255, 0.363) 100%);
  
}
.header-space{

    position:fixed;
    display: block;  
width: 100%;
height: 80px;

    background-color:rgb(0, 0, 0) ;
    z-index: 999999999;
}
.nav{
    display: inline-block;
    position: relative;
color: #ffffff;
height: 80px;
width: 10%;
font-size: clamp(0.1rem,2vh,2rem);

}
.list{
position:absolute;
display: flex;
width: 100%;
height: 100%;
top:50%;
left:50%;
transform: translate(-50%,-50%);
padding:5%;
align-items: center;
justify-content: center;
overflow: visible;
box-sizing: border-box;


}

.icon{
    font-size: clamp(0.01rem,5vh,3rem);
    cursor: pointer;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.sobre a:hover{
    color:rgba(193, 152, 255, 0.762) ;
    text-decoration: underline;
}
.sobre{

    position:relative;
    height: 80px;
width: 10%;
display: flex;
float: right;


}
.sobre a{
position: absolute;
    color: #ffffff;

    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: clamp(0.1rem,1.9vh,2rem);
    cursor: pointer;
}
.position{
    display:none;
    overflow: auto;
    position:absolute;

flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
height: 290px;
  transform: translate(-15px,40px);
  width:300px;
  max-width: 40vw; 
  max-height: 40vh;
}
/* .scrol{
display: none;   
    width: 250px;
height: 100px;
    overflow:scroll;
} */
.position::-webkit-scrollbar{

    display: none;
    scroll-behavior: smooth;
}
.positionOn{

    display: flex;
}
.item{

    display: none;
    margin:0 ;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width:100%; 
  
    position: relative;
   text-transform: uppercase;
   text-align: center;
    text-decoration: none;
    font-size: clamp(0.7rem,2vh,2rem);
  padding: 3%;

}
li>a{
text-decoration: none;
    color: #ffffff;
}
li>a:checked{
    color: #ffffff;
}
li>a:hover{

    color:aqua;
}



 .itemOn{

    display: block;
    margin: 0 ;
}

.spaceLink{
position: absolute;
display: inline-block;
background-color:rgb(0, 0, 0) ;
width: 80%;
height: 100%;
max-width: 1500px;
top:50%;
left:50%;
transform: translate(-50%, -50%);
justify-content: center;


}
.spaceLink a{
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
    font-size: xx-large;
    text-decoration: none;
    color: aliceblue;

}
.spaceLink a:hover, .item:hover{
    color:rgba(193, 152, 255, 0.762) ;
}
.icon:hover{
  color: rgba(193, 152, 255, 0.762);

}
#principal {
    position: relative;
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
    max-width: 1500px;
    padding-top: 80px;;
  }
  
  .first {
    position: relative;
    height: 80vh;
    max-height: 1000px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #fde8e9c7; */
    background-color: #EDDFEF;
  }
  .contenedor{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    width:80%;
    margin:auto;
    max-width: 1500px;
height: 80vh;
max-height: 1000px;

  }

.contentImg{
    position: absolute;
    display: flex;
    align-items: flex-start;
width: 50%;
height: 100%;
padding: 5%;
box-sizing: border-box;
}
.contentImg  img{
    position: absolute;
    width: 90%;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    height: 90%;
object-fit: cover;
object-position:center center ;
border-radius: 50%;
display: flex;
max-height: 700px;

transition: border 0.3s;
}

.sombra{

    box-shadow:0px 1px 20px #464655;
}
.sombra2{
    box-shadow:0px 1px 20px #464655;
    animation: sombra2-animation 1s infinite alternate;
}
@keyframes sombra2-animation{

    0%{
        box-shadow:0px 1px 20px #8946fda2;
    }
    100%{

        box-shadow:0px 0px 10px rgba(0,0,0,0);;
    }

}
.contentText{
    background-color: #EDDFEF;
    position: absolute;
    display: flex;
    left: 50%;
    width: 50%;
height: 100%;
text-align: center;
justify-content: center;
align-items: center;
}
.texto{
    text-align: center;
color: #596475;
font-size: clamp(0.01rem,3vw,2rem);
overflow: auto;

margin: 5% 5% ;

padding: 5% 5%;

}
.texto1{
    opacity: 0;
    transition: opacity 1s;
    display: none;
}
.textoStrong{
    color: black;
    text-transform: uppercase;
    font-size: clamp(0.01,5vw,3rem);
}
.second{
position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 1000px;
    left:50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
}
.who{
    position: absolute;
    display: inline-block;
left: 50%;
transform: translateX(-50%);
width: 80%;
max-width: 1500px;
height: 100%;
background-color: rgba(255, 255, 255, 0.658);
}
.icono{
    position: relative;
   font-size: clamp(0.1rem,8vw,8rem);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.texto2{
    position:absolute;
    display: block;
    left: 50%;
transform: translateX(-50%);
    font-size: clamp(0.1rem,5vw,8rem);
 
}
   

.porfile{
    position: relative;
    display: flex;
 justify-content: center;
 align-items: center;
 top :45%;
 left: 50%;
transform: translate(-50%,-50%);
width: 50%;
height: 55%;
max-height: 600px;
padding: 0 5%;
box-sizing: border-box;




  }
  .porfile img{
border-radius: 100%;
 width: 90%;
 height: 100%;
    max-height: 600px;

object-fit: cover;
object-position: center center;

  }
  .third{
    position: relative;
        width: 100vw;
        height: 100vh;
        max-height: 1000px;
        left:50%;
        transform: translateX(-50%);
        background-color: #23194288;
        /* max-width: 1250px; */
        margin-bottom: 0;
    
    }
  .hellow{
    position: absolute;
    display:block;
    align-items: center;
    width: 80%;
    max-width: 1500px;
    left:50%;
    transform: translateX(-50%);
height: 100%;
background-color: #23194200;

max-width: 1250px;


  }
  .texto3{
    position: relative;
    display: block;
    font-size: clamp(0.1rem,5vw,8rem);
    text-align: center;
margin-top: 10%;
    color:rgb(251, 251, 251);
    
   
}
.contentDescription{
display: flex;
width: 100%;
    
    position: absolute;
    height: 60%;

    top:50%;
    transform: translateY(-30%);
  
}
.description{
position: absolute;
    text-align: center;
color: #ffffff;
font-size: clamp(0.01rem,3vw,3rem);
padding: 2% 2%;
border-radius: 5%;
background-color: #23194200;
top:50%;
left:50%;
transform: translate(-50%, -50%);

}
.espacio{

    display:flex;
    position:relative;
    width:1vw;
    height:10vh;
   
left:50%;
transform: translateX(-50%,);
}
.footer{
display: flex;
position: relative;
 width: 100vw;
 left: 50%;
 transform: translateX(-50%);
 /* max-width: 1500px; */
 height: 18vh;
align-items: center;
justify-content: center;
margin: 0 auto;
 background-color: #464655;   
}
p{
    position:relative;
    display: inline-block;
  margin: 0 0 10% 10% auto;
    text-align: center;
    font-size: clamp(0.01rem,1.4vw,2rem);
    color: #ffffff;
}
.icono2{
display: flex;
position: relative;
font-size: clamp(0.01rem,5vh,3rem);
margin :6%;


}
.icono3{
    display: flex;
    position: relative;
    font-size: clamp(0.01rem,5vh,3rem);
    margin :6%;
    
    
    }
.footer a{

    margin:2%;
    color: rgba(255, 255, 255, 0.964) ;
}
.footer a:visited{
    color: #EDDFEF ;
   
}
.footer a:hover{
color:aqua;
}
.decoration{

    text-decoration: underline;
}
